/* Estilos de la pagina de videojuegos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    
    background: linear-gradient(rgb(0, 0, 0), rgba(194, 182, 241, 0.952));
}

.barra{
    margin: 0px auto;
    display: flex; 
    background-color: #010202;
    
}

header, .conthead{
 
    color: #fff;
    text-align: center;
    padding: 10px;  border:1px solid rgb(194, 182, 241,0.5);
    background: linear-gradient(rgb(0, 0, 0), rgb(194, 182, 241,0.4));
}


nav {
    background-color: #d4d4d4;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


section {
    margin: 20px;
    padding: 20px;
    

    border-radius: 5px;
    border:2px solid rgba(142, 129, 192, 0.671);
    background: linear-gradient(rgb(0, 0, 0), rgba(125, 103, 212, 0.144));
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
p{
    margin: 30px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
label{
    color: #fff;

}
.justificado{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    

}
h5, h6{
    padding: 10px;
    
}

hr {
    color: #ffffff;
    height: 2px;
}
.icon{


    margin-left: 27%;
}
.redes{

    
    margin-left: 18%;
}
a{
    text-decoration: none;
   
}
span{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.icon ,
.redes{
    height: 40px;
    width: 40px;
}

