body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
  
    background: linear-gradient(rgb(22, 22, 22), rgba(85, 58, 182, 0.712));
}
div h1{
    font-size: 14px;
    color: #F5F5F5;
}
#regreso { 
    text-decoration: none;
    color: white;
}
div h2{
    font-size: 14px;
    color: #C2C2C2;
    margin: 5.5px;
}
div span{
    font-size: 18px;
    color: #F5F5F5;
    line-height : 25px;
    padding: 85px;
}

.contenedorimg{
    flex: content;
    margin: 8px;
    background-color: #202020;
    width: 200px;
    height: 130px;
    border-radius: 4px;

}
img{
    max-width: 100%; 
    max-height: 100%;
    border-radius: 6px;
    /*flex-grow: 1;*/
}

h3{
    font-size: 18px;
    color: #F5F5F5;
    line-height : 7px;
    padding: 7px;
    margin-left: 110px;
}

span.base{
    color: rgba(245, 245, 245, 0.6);
    font-size: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px;
}
h6{
    font-size: 14px;
    color: #F5F5F5;  
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-weight: 400;
    padding-top: 0px;
    margin-top: 0px;
}

.contenedorju{
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: flex-start;
    padding-right: 3px;
    
}
figure.juegofoto{
    height: 370px;
    width:  180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#juegos{
    margin-left: 110px;
    margin-right: 130px;
    display: flex;
    padding: 0px;
    
}
div.carrusel{
        margin: 0 auto;
        text-align: center;
        margin-left: 1.7cm;
        margin-right: 1.7cm;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        overflow: hidden;
}
#generos{
    margin-left: 39px;
    margin-right: 39px;
}
span.pa{
    display: block;
    color: rgba(245, 245, 245, 0.6);
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    width: 200;
    height: 100;
    padding: 0px;
    padding-left: 40px;
    
    margin: 0px;
    line-height: 3;
}
/*barra busqueda*/
.barra-busqueda {
    display: flex;
    max-width: 300px; 
    padding-bottom: 10px;
    
}
.barra-busqueda input[type="text"] {
    width: 100%; 
    padding: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.barra-busqueda button {
    padding: 8px 15px;
    background: #202020; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    margin-left: 5px; 
    cursor: pointer;
}
.filtro{
   display: none;/*ocultar*/
}
